Repository sebastian-software/python2ts: changes, and which Codecov flags are due for each by the changed paths.
All: python2ts, pythonlib

fix: filter comments in expressions, 2D slice assignment with ndarray
  packages/python2ts/src/generator/index.ts
  packages/python2ts/src/transformer/index.ts
  packages/pythonlib/src/index.browser.ts
  packages/pythonlib/src/index.ts
  packages/pythonlib/src/ndarray.ts
Due: python2ts, pythonlib

fix: filter comments in set literals
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: class method *args, **kwargs parameter order
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: handle edge cases for imports, method calls, and abstract classes
  packages/python2ts/src/transformer/index.ts
Due: python2ts

chore: release main
  .release-please-manifest.json
  packages/python2ts/CHANGELOG.md
  packages/python2ts/package.json
  packages/pythonlib/CHANGELOG.md
  packages/pythonlib/package.json
Due: none

chore: update pnpm-lock.yaml for Astro dependencies
  pnpm-lock.yaml
Due: none

chore: regenerate pnpm-lock.yaml with correct overrides
  pnpm-lock.yaml
Due: none

chore: pin rolldown-vite version to fix CI lock file mismatch
  package.json
  pnpm-lock.yaml
Due: none

chore: use Vite v8 beta instead of rolldown-vite
  package.json
  pnpm-lock.yaml
Due: none

docs: add API Reference to sidebar navigation
  docs/astro.config.mjs
Due: none

docs: enhance homepage with comprehensive content for both packages
  docs/src/content/docs/index.mdx
Due: none

docs: enhance homepage with visual design and official logos
  docs/public/arrow-right.svg
  docs/public/python-logo.svg
  docs/public/typescript-logo.svg
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
Due: none

refactor(docs): migrate custom CSS to Tailwind utility classes
  docs/src/content/docs/index.mdx
  docs/src/styles/custom.css
Due: none

fix(docs): use inline styles and local logos for proper rendering
  docs/public/browser-logo.svg
  docs/public/bun-logo.svg
  docs/public/deno-logo.svg
  docs/public/nodejs-logo.svg
  docs/src/content/docs/index.mdx
Due: none

fix(docs): remove stagger from CardGrids, fix runtime badge heights
  docs/src/content/docs/index.mdx
Due: none

fix(docs): simplify hero section, remove logos from package cards
  docs/src/content/docs/index.mdx
Due: none

feat(docs): Replace MDX landing page with custom Astro page
  docs/src/content/docs/index.mdx
  docs/src/pages/index.astro
  docs/src/styles/custom.css
  docs/tailwind.config.mjs
Due: none

fix(docs): Correct API link in landing page header
  docs/src/pages/index.astro
Due: none

docs: add Sebastian Software branding to README
  README.md
Due: none

chore: enable dependabot updates
  .github/dependabot.yml
Due: none

refactor(transformer): modularize into handler modules
  packages/python2ts/src/transformer/builtins/call-handlers.ts
  packages/python2ts/src/transformer/context.ts
  packages/python2ts/src/transformer/handlers/assignments.ts
  packages/python2ts/src/transformer/handlers/classes.ts
  packages/python2ts/src/transformer/handlers/comprehensions.ts
  packages/python2ts/src/transformer/handlers/control-flow.ts
  packages/python2ts/src/transformer/handlers/docstrings.ts
  packages/python2ts/src/transformer/handlers/exceptions.ts
  packages/python2ts/src/transformer/handlers/expressions.ts
  packages/python2ts/src/transformer/handlers/functions.ts
  packages/python2ts/src/transformer/handlers/imports.ts
  packages/python2ts/src/transformer/handlers/literals.ts
  packages/python2ts/src/transformer/index.ts
  packages/python2ts/src/transformer/types.ts
Due: python2ts

Add Dependabot baseline config
  .github/dependabot.yml
Due: none

chore: release main
  .release-please-manifest.json
  packages/python2ts/CHANGELOG.md
  packages/python2ts/package.json
Due: none

chore(renovate): migrate from dependabot
  .github/dependabot.yml
  renovate.json
Due: none

Path conditions:
  python2ts: any of: packages/python2ts/src/
  pythonlib: any of: packages/pythonlib/src/
