Repository sebastian-software/python2ts: changes, and which Codecov flags are due for each by the changed paths.
All: python2ts, pythonlib

chore: switch from bundlephobia to pkg-size badge
  packages/pythonlib/README.md
Due: none

chore: remove bundle size badge
  packages/pythonlib/README.md
Due: none

docs: add Node.js, Bun, and zero dependencies badges
  packages/pythonlib/README.md
Due: none

feat(os): implement conditional exports for browser/Node.js
  docs/docusaurus.config.ts
  packages/pythonlib/package.json
  packages/pythonlib/src/index.ts
  packages/pythonlib/src/os.browser.ts
  packages/pythonlib/src/os.node.ts
  packages/pythonlib/src/os.shared.ts
  packages/pythonlib/src/os.ts
  packages/pythonlib/tsup.config.ts
  tests/runtime-modules.test.ts
Due: pythonlib

feat(hashlib): convert to async API with Web Crypto support
  packages/pythonlib/src/hashlib.test.ts
  packages/pythonlib/src/hashlib.ts
  vitest.config.ts
Due: pythonlib

refactor: remove eslint non-nullable-type-assertion-style override
  eslint.config.js
  packages/python2ts/src/transformer/index.ts
  packages/pythonlib/src/builtins.ts
  packages/pythonlib/src/dict.ts
  packages/pythonlib/src/functools.ts
  packages/pythonlib/src/string.ts
Due: python2ts, pythonlib

feat(transpiler): add await to async hashlib calls
  packages/python2ts/src/transformer/index.ts
  packages/python2ts/src/transformer/name-mappings.ts
  tests/e2e/hashlib-module.test.ts
  vitest.config.ts
Due: python2ts

refactor(pythonlib): convert fs operations to async API
  packages/pythonlib/src/glob.test.ts
  packages/pythonlib/src/glob.ts
  packages/pythonlib/src/os.node.test.ts
  packages/pythonlib/src/os.node.ts
  packages/pythonlib/src/pathlib.test.ts
  packages/pythonlib/src/pathlib.ts
  packages/pythonlib/src/shutil.test.ts
  packages/pythonlib/src/shutil.ts
Due: pythonlib

chore: add CLAUDE.md with coding style preferences
  CLAUDE.md
Due: none

feat(transpiler): add await for async module functions
  docs/adr/0012-async-filesystem-api.md
  docs/adr/README.md
  packages/python2ts/src/transformer/index.ts
  packages/python2ts/src/transformer/name-mappings.ts
  packages/pythonlib/src/glob.ts
  packages/pythonlib/src/logging.ts
  packages/pythonlib/src/os.node.ts
  packages/pythonlib/src/pathlib.ts
  packages/pythonlib/src/shutil.ts
  packages/pythonlib/src/tempfile.test.ts
  packages/pythonlib/src/tempfile.ts
  tests/e2e/async-modules.test.ts
  tests/e2e/imports.test.ts
  tests/e2e/os-module.test.ts
Due: python2ts, pythonlib

chore(eslint): allow underscore prefix for unused vars
  eslint.config.js
  packages/pythonlib/src/os.browser.ts
  packages/pythonlib/src/shutil.ts
  packages/pythonlib/src/tempfile.ts
  packages/pythonlib/src/uuid.ts
Due: pythonlib

feat(pythonlib): add browser/Node.js conditional exports
  packages/pythonlib/package.json
  packages/pythonlib/src/glob.browser.ts
  packages/pythonlib/src/glob.node.ts
  packages/pythonlib/src/glob.test.ts
  packages/pythonlib/src/index.ts
  packages/pythonlib/src/logging.browser.ts
  packages/pythonlib/src/logging.node.ts
  packages/pythonlib/src/logging.test.ts
  packages/pythonlib/src/pathlib.browser.ts
  packages/pythonlib/src/pathlib.node.ts
  packages/pythonlib/src/pathlib.test.ts
  packages/pythonlib/src/shutil.browser.ts
  packages/pythonlib/src/shutil.node.ts
  packages/pythonlib/src/shutil.test.ts
  packages/pythonlib/src/sys.test.ts
  packages/pythonlib/src/tempfile.browser.ts
  packages/pythonlib/src/tempfile.node.ts
  packages/pythonlib/src/tempfile.test.ts
  packages/pythonlib/tsup.config.ts
Due: pythonlib

feat(pythonlib): add browser entry point for main export
  packages/pythonlib/package.json
  packages/pythonlib/src/index.browser.ts
  packages/pythonlib/tsup.config.ts
Due: pythonlib

chore: release main
  .release-please-manifest.json
  packages/python2ts/CHANGELOG.md
  packages/python2ts/package.json
  packages/pythonlib/CHANGELOG.md
  packages/pythonlib/package.json
Due: none

fix(test): use browser module versions in vitest browser config
  vitest.browser.config.ts
Due: none

docs: improve README files with marketing focus
  README.md
  packages/python2ts/README.md
  packages/pythonlib/README.md
Due: none

docs: enhance homepage and documentation to showcase full pythonlib scope
  docs/docs/getting-started.md
  docs/docs/intro.md
  docs/src/pages/index.tsx
Due: none

chore: improve test coverage to >90% and add package optimizations
  .prettierignore
  packages/pythonlib/package.json
  packages/pythonlib/src/base64.test.ts
  packages/pythonlib/src/base64.ts
  packages/pythonlib/src/copy.test.ts
  packages/pythonlib/src/copy.ts
  packages/pythonlib/src/hashlib.test.ts
  packages/pythonlib/src/hashlib.ts
  packages/pythonlib/src/index.browser.ts
  packages/pythonlib/src/logging.browser.ts
  packages/pythonlib/src/logging.node.ts
  packages/pythonlib/src/logging.test.ts
  packages/pythonlib/src/pathlib.test.ts
  packages/pythonlib/src/shutil.node.ts
  packages/pythonlib/src/shutil.test.ts
  packages/pythonlib/src/subprocess.test.ts
  packages/pythonlib/src/subprocess.ts
  packages/pythonlib/src/sys.ts
  packages/pythonlib/src/time.ts
  packages/pythonlib/src/uuid.test.ts
  packages/pythonlib/src/uuid.ts
  vitest.config.ts
Due: pythonlib

fix: isinstance with tuple of types now transpiles to array
  packages/python2ts/src/transformer/index.ts
  packages/pythonlib/src/builtins.ts
  tests/e2e/builtins.test.ts
  tests/e2e/functions.test.ts
Due: python2ts, pythonlib

fix(docstrings): handle module-level and decorated function docstrings
  packages/python2ts/src/transformer/index.ts
  tests/e2e/functions.test.ts
Due: python2ts

fix(transformer): escape JS reserved keywords as variable names (#29)
  packages/python2ts/src/transformer/index.ts
  tests/e2e/edge-cases.test.ts
  tests/e2e/fstrings.test.ts
Due: python2ts

fix(transformer): convert ellipsis to Ellipsis constant (#30)
  packages/python2ts/src/transformer/index.ts
  packages/pythonlib/src/builtins.ts
  packages/pythonlib/src/index.ts
  tests/e2e/edge-cases.test.ts
Due: python2ts, pythonlib

fix(transformer): spread generator to array in join method calls (#28)
  packages/python2ts/src/transformer/index.ts
  tests/e2e/comprehensions.test.ts
Due: python2ts

fix(transformer): convert raw docstrings (r""") to JSDoc (#33)
  packages/python2ts/src/transformer/index.ts
  tests/e2e/docstrings.test.ts
Due: python2ts

feat(transformer): support implicit string concatenation (#34, #36)
  packages/python2ts/src/transformer/index.ts
  tests/e2e/literals.test.ts
Due: python2ts

fix(transformer): handle UpdateStatement and variable context managers (#35, #37)
  packages/python2ts/src/transformer/index.ts
Due: python2ts

chore: release main
  .release-please-manifest.json
  packages/python2ts/CHANGELOG.md
  packages/python2ts/package.json
Due: none

fix: chained assignment and tuple unpacking in generators
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: spread operator in tuples and __doc__ attribute
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: parenthesized tuple, bytes literals, 2D slice, reserved words
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: reserved keywords in decorated functions, spread in arrays, nested tuple unpacking
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: reserved keywords in destructuring, spread in assignments, tuple comments, __doc__ in classes
  packages/python2ts/src/transformer/index.ts
Due: python2ts

fix: comments in args, f-string debug syntax, scientific notation, bare raise
  packages/python2ts/src/transformer/index.ts
  tests/e2e/exceptions.test.ts
  tests/transformer.test.ts
Due: python2ts

Path conditions:
  python2ts: any of: packages/python2ts/src/
  pythonlib: any of: packages/pythonlib/src/
